<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BMI Calculator</title>
    </head>
    <body>
        <h1>BMI Calculator</h1>
    <div>
        <form>
            <label for="userFeet">Feet:</label>
            <input type="feet">
            <br>
            <label for="userInches">Inches:</label>
            <input type="inches">
            <br>
            <label for="userPounds">Weight(in pounds):             </label>
            <input type="pounds">
        </form>
        
    </div>
    </body>
</html>